{% extends "base.html" %}
{% load static %}
{% block title %}Password Details{% endblock %}

{% block content %}
<h2 class="center-heading">Password Details</h2>
<art class="round">
    <h5>{{ password.app_name }}</h5>
    <hr class="medium">
    <p><strong>Username:</strong> {{ password.username }}</p>
    <p><strong>URL:</strong>
        <a href="{{ password.url }}" target="_blank" rel="noopener"> 
        {{ password.url }}</a></p>
    <p><strong>Password:</strong>
        <span id="passwordDisplay">••••••••</span>
        </p>
    <button class="primary small" id="showPassword" type="button" onclick="togglePassword()"> Show Password</button>    
    <hr class="medium">
    <p class="center-text">Created: {{ password.created_at }} | Last Updated: {{ password.updated_at }}</p>
    <hr  class="medium">
    <div class="center-align">
        <a href="{% url 'password_update' password.pk %}">
            <button class="primary">Update Password</button>
        </a>
        <a href="{% url 'password_delete' password.pk %}">
            <button class="error">Delete Password</button>
        </a>
    </div>
    <div class="space"></div>
    <div class="center-align">
        <a href="{% url 'password_list' %}">
            <button class="medium small-elevate">
                <i class="fa-solid fa-arrow-rotate-left"></i>
                Go Back to List
            </button>
        </a>
    </div>
</article>

<script>
    const realPassword = "{{ password.app_pass }}";
    const copyButton = document.getElementById("copyPassword");

    function togglePassword() {
        const display = document.getElementById("passwordDisplay");
        const button = event.currentTarget;
        
        if (display.textContent.includes('•')) {
            display.textContent = realPassword;
            button.textContent = "Hide Password";
        } else {
            display.textContent = "••••••••";
            button.textContent = "Show Password";
        }
    }
</script>

{% endblock %}