{% extends "base.html" %}
{% block title %}Update Password{% endblock title%}

{% block content %}
<fieldset>
    <legend>Update Password</legend>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <p class="center-text">Update password yourself:</p>
        <label for="password" style="font-size: medium;"> New Password:</label>
        <div class="field border round fill">
            {{ form.app_pass.errors }}
            {{ form.app_pass }}
        </div>
        <div class="medium-space"></div>
            <button class="medium small-elevate fill" type="submit">
                <i class="fa-solid fa-pen-to-square"></i>
                Update
            </button>
        <div class="medium-space"></div>
    </form>
    <div class="center-text">
            <p>Or, generate a new password:</p>
            <a href="{% url 'password_create' %}">
                <button class="medium small-elevate fill" type="submit">
                    <i class="fa-solid fa-pen-to-square"></i>
                    Generate new password
                </button>
            </a>
        </div>
</fieldset>
{% endblock content %}