{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Craft Me A Password{% endblock title%}

{% block content %}
<div class="page top active">
    <h4 class="center-heading">Create New Password</h4>
    <p style="font-size: medium;"> Enter the name of the app you want to create a password 
        for (and username just to keep track). Use the slider to choose the number of characters 
        (shown below), check if you need it to include anything in specific, then click the 
        "Generate Password" button and let the wizards in the back make you a secure password!</p>
    <div class="medium-space"></div>
    <form method="post" class="beer-form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <fieldset>
            <legend style="font-size: medium;">App/Site Name and URL: </legend>
            <legend> App or Site Name: </legend>
            <div class="field border round fill">
                {{ form.app_name }}
            </div>
            <span class="helptext">{{ form.app_name.errors }}</span>
            <legend> Site URL: </legend>
            <div class="field border round fill">
                {{ form.url }}
            </div>
            <span class="helptext">{{ form.url.errors }}</span>
            <legend style="font-size: medium;">Password Type: </legend>
            <div class="field border round fill">
                {{ form.app_type }}
                <i>arrow_drop_down</i>
            </div>
            <span class="helptext">{{ form.app_type.errors }}</span>
        </fieldset>
        <fieldset>
            <legend style="font-size: medium;">Username: </legend>
            <div class="field border round fill">
                {{ form.username }}
            </div>
            <span class="helptext">{{ form.username.errors }}</span>
        </fieldset>
        <!--slider and inputs-->
        <fieldset>
            <legend style="font-size: medium;">Password Length (10-32 Characters): </legend>
            <div class="field middle-align prefix suffix">
                <i class="fa-solid fa-minus"></i>
                <label class="slider"> 
                    <input type="range" value="12" min="8" max="32" step="1" name="length" id="slider">
                    <span></span>
                </label>
                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="no-padding center-align">
                <div id="slider-helper" style="font-size: large;" class="chip medium vertical"> 
                    12 
                </div>
                <div class="no-padding center-align">Characters</div>
            </div>
        </fieldset>
        <!--checks and input styling-->
        <fieldset>
            <legend style="font-size: medium;">Include:</legend>
            <div class="medium-space"></div>
            <div>
                <nav class="field middle-align center-align">
                    <div>
                        <div style="font-size: medium;">Numbers?</div>
                    </div>
                    <label class="switch">
                        <input type="checkbox" name="include_numbers" {% if form.include_numbers.value %}checked{% endif %}>
                        <span></span>
                    </label>
                </nav>
            </div>
            <div>
                <nav class="field middle-align center-align">
                <div class="min">
                    <div style="font-size: medium;">Special Characters?</div>
                </div>
                <label class="switch">
                    <input type="checkbox" name="include_special" {% if form.include_special.value %}checked{% endif %}>
                    <span></span>
                </label>
            </div>
            <div>
                <div class="min">
                    <div style="font-size: medium;">Similar Characters?</div>
                </div>
                    <label class="switch">
                        <input type="checkbox" name="include_similar" {% if form.include_similar.value %}checked{% endif %}>
                        <span></span>
                    </label>
                </nav>
            </div>
        </fieldset>
        <div class="medium-space"></div>
        <button class="primary small-elevate" type="submit">
            <progress class="max" value="20" max="100"></progress>
            <span style="font-size: medium;"><i class="fa-solid fa-gears"></i> Generate Password!</span>
        </button>
    </form>
    <div class="medium-space"></div>
    <div class="right-align">
        <a href="{% url 'password_list' %}">
            <button class="medium small-elevate fill" type="submit">
                <i class="fa-solid fa-arrow-left"></i>
                Changed My Mind
            </button>
        </a>
    </div>
</div>

<script>
const slider = document.getElementById('slider');
const helper = document.getElementById('slider-helper');

// Update helper text whenever slider value changes
slider.addEventListener('input', () => {
    helper.textContent = slider.value;
});
</script>
{% endblock %}