{% extends "base.html" %}
{% block title %}Regenerate Password{% endblock title %}

{% block content %}
<div class="medium-space"></div>
<fieldset class="center">
    <legend style="font-size: large;">Regenerate Password:</legend>
    <fieldset>
        <legend>General App Information:</legend>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <legend>App Name:</legend>
            <div class="field border round fill">
                {{ form.app_name }}
            </div>
            <span class="helptext">{{ form.app_name.errors }}</span>
            <legend>Site URL:</legend>
            <div class="field border round fill">
                {{ form.url }}
            </div>
            <span class="helptext">{{ form.url.errors }}</span>
            <legend>Username:</legend>
            <div class="field border round fill">
                {{ form.username }}
            </div>
            <span class="helptext">{{ form.username.errors }}</span>
            <legend>Password Type:</legend>
            <div class="field border round fill">
                {{ form.app_type }}
                <i>arrow_drop_down</i>
            </div>
        </fieldset>
        <div class="medium-space"></div>
        <fieldset>
            <legend style="font-size: medium;">Password Details:</legend>
            <div class="small-space"></div>
            <legend style="font-size: medium;">Password Length (10-32 Characters):</legend>
            <div class="small-space"></div>
            <div class="field middle-align prefix suffix">
                <i class="fa-solid fa-minus"></i>
                <label class="slider">
                    <input type="range" value="12" min="8" max="32" step="1" name="length" id="slider">
                    <span></span>
                </label>
                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="no-padding center-align">
                <div id="slider-helper" style="font-size: large;" class="chip medium vertical"> 
                    12 
                </div>
                <div class="no-padding center-align">Characters</div>
            </div>
        <!--checks and input styling-->
            <legend style="font-size: medium;">Include:</legend>
            <div class="medium-space"></div>
            <div>
                <nav class="field middle-align center-align">
                    <div>
                        <div style="font-size: medium;">Numbers?</div>
                    </div>
                    <label class="switch">
                        <input type="checkbox" name="include_numbers" {% if form.include_numbers.value %}checked{% endif %}>
                        <span></span>
                    </label>
                </nav>
            </div>
            <div>
                <nav class="field middle-align center-align">
                <div class="min">
                    <div style="font-size: medium;">Special Characters?</div>
                </div>
                <label class="switch">
                    <input type="checkbox" name="include_special" {% if form.include_special.value %}checked{% endif %}>
                    <span></span>
                </label>
                <div class="min">
                    <div style="font-size: medium;">Similar Characters?</div>
                </div>
                    <label class="switch">
                        <input type="checkbox" name="include_similar" {% if form.include_similar.value %}checked{% endif %}>
                        <span></span>
                    </label>
                </nav>
            </div>
            <div class="small-space"></div>
    </fieldset>
    <div class="small-space"></div>
    <div class="center-align">
    <button class="medium small-elevate fill" type="submit">
                <i class="fa-solid fa-gears"></i>
                Generate New Password
            </button>
            <div class="small-space"></div>
        </form>
        <div class="medium-space"></div>
        <a href="{% url 'password_detail' password.pk %}">
            <button class="medium small-elevate">
                <i class="fa-solid fa-arrow-left"></i>
                Back to Password Details
            </button>
        </a>
    </div>
</fieldset>

<script>
const slider = document.getElementById('slider');
const helper = document.getElementById('slider-helper');

// Update helper text whenever slider value changes
slider.addEventListener('input', () => {
    helper.textContent = slider.value;
});
</script>
{% endblock content %}