{% extends "base.html" %}
{% block title %}Update Password{% endblock title%}

{% block content %}
<div class="medium-space"></div>
<fieldset class="center">
    <legend style="font-size: large;">Update password yourself: </legend>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <label for="app_name" style="font-size: medium;">App/Site Name:</label>
        <div class="field border round fill">
            {{ form.app_name }}
        </div>
        <span class="helptext">{{ form.app_name.errors }}</span>

        <label for="url" style="font-size: medium;">Site URL:</label>
        <div class="field border round fill" disabled>
            {{ form.url }}
        </div>
        <span class="helptext">{{ form.url.errors }}</span>

        <label for="username" style="font-size: medium;">Username:</label>
        <div class="field border round fill">
            {{ form.username }}
        </div>
        <span class="helptext">{{ form.username.errors }}</span>

        <label for="password" style="font-size: medium;">New Password:</label>
        <div class="field border round fill">
            {{ form.app_pass }}
        </div>
        <span class="helptext">{{ form.app_pass.errors }}</span>

        <div class="medium-space"></div>
    </form>
    <div class="center-text">
    <p>Or, generate a new password:</p>
    <form method="post" action="{% url 'password_create' %}">
        {% csrf_token %}
        <input type="hidden" name="password_id" value="{{ form.instance.id }}">
        <button class="medium small-elevate fill center-align" type="submit">
            <i class="fa-solid fa-pen-to-square"></i>
            Generate New Password
        </button>
    </form>
</fieldset>
<div class="medium-space"></div>
{% endblock content %}