{% extends 'base.html' %}
{% block title %} Little Password Book {% endblock %}

{% block content %}
<h2 class="center-heading">Your Passwords</h2>
{% if password_list %}
    {% for password in password_list %}
    <article class="round">
        <div>
            <h5>{{ password.app_name }}</h5>
        </div>
        <hr class="medium">
        <div>
            <p>Created: {{ password.created_at }} | Last Updated: {{ password.updated_at }}</p>
            <a href="{% url 'password_detail' password.pk %}"><button>Click to See Details</button></a> 
        </div>
    </article>
    {% endfor %}
    {% else %}
    <article class="medium middle-align center-align">
        <div>
            <i class="fa-regular fa-folder-open"></i>            
            <h5>You have no saved passwords :(</h5>
            <p>Click the button to get started</p>
            <div class="space"></div>
            <nav class="center-align">
                <a href="{% url 'password_create' %}">
                    <button>Create Passwords</button>
                </a>
            </nav>
        </div>
    </article>
{% endif %}
{% endblock content%}