{% extends "base.html" %}
{% block title %}Delete Password{% endblock %}

{% block content %}
<fieldset>
    <legend>Delete Password</legend>
    <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ password.app_name }}"?</p>
        <button class="medium small-elevate error" type="submit" aria-label="Submit">
            <i class="fa-solid fa-trash"></i>
            Delete
        </button>
    </form>
    <div class="space"></div>
    <a href="{% url 'password_detail' password.pk %}">
        <button class="medium small-elevate" aria-label="Cancel">
            <i class="fa-solid fa-ban"></i>
            Cancel
        </button>
    </a>
</fieldset>
{% endblock %}