{% extends "base.html" %}
{% block title %}Update Password{% endblock title%}

{% block content %}
<fieldset class="absolute center middle">
    <legend style="font-size: large;">Update password yourself: </legend>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <label for="password" style="font-size: medium;"> New Password:</label>
        <div class="field border round fill">
            {{ form.password }}
        </div>
        <span class="helptext">{{ form.password.errors }}</span>
        <div class="medium-space"></div>
            <button class="medium small-elevate fill center" type="submit">
                <i class="fa-solid fa-pen-to-square"></i>
                Update
            </button>
        <div class="medium-space"></div>
    </form>
    <div class="center-text">
            <p>Or, generate a new password:</p>
            <a href="{% url 'password_create' %}">
                <button class="medium small-elevate fill center" type="submit">
                    <i class="fa-solid fa-pen-to-square"></i>
                    Generate new password
                </button>
            </a>
            <p> </p>
            <a href="{% url 'password_list' %}">
                <button class="medium small-elevate error center" type="submit">
                    <i class="fa-solid fa-arrow-rotate-left"></i>
                    Back to Password List
                </button>
            </a>
        </div>
</fieldset>
{% endblock content %}