{% extends 'base.html' %}
{% block title %} Little Password Book {% endblock %}

{% block content %}
<h2 class="center-heading">Your Passwords</h2>

<!-- Search Bar -->
 <!-- TODO: tweak search code to search by app name not case sensitive-->
<form method="get" class="search-form">
    <div class="field large prefix round fill active left-align">
        <i class="front">search</i>
        <input type="text" name="search" placeholder="Search by App Name" value="{{ search_query }}">
    </div>
    <button type="submit" class="small small-elevate left-align">Search</button>
</form>

<!-- Sort Options -->
<form method="get" class="sort-form">
    <div class="field medium prefix round fill right-align">
        <i class="front">sort</i>
        <select name="sort" class="sort-dropdown">
            <option value="app_name" {% if sort_by == "app_name" %}selected{% endif %}>App Name</option>
            <option value="app_type" {% if sort_by == "app_type" %}selected{% endif %}>App Type</option>
            <option value="created_at" {% if sort_by == "created_at" %}selected{% endif %}>Date Created</option>
            <option value="updated_at" {% if sort_by == "updated_at" %}selected{% endif %}>Last Updated</option>
        </select>
    </div>
    <button type="submit" class="small small-elevate right-align">
        <i class="fa-solid fa-sort"></i>
        Sort
    </button>
</form>


{% if password_list %}
    {% for password in password_list %}
    <article class="round">
        <div>
            <h5>{{ password.app_name }}</h5>
        </div>
        <hr class="medium">
        <div>
            <p>Created: {{ password.created_at }} | Last Updated: {{ password.updated_at }}</p>
            <a href="{% url 'password_detail' password.pk %}"><button>Click to See Details</button></a> 
        </div>
    </article>
    {% endfor %}
    {% else %}
    <article class="medium middle-align center-align">
        <div>
            <i class="fa-regular fa-folder-open"></i>            
            <h5>You have no saved passwords :(</h5>
            <p>Click the button to get started</p>
            <div class="space"></div>
            <nav class="center-align">
                <a href="{% url 'password_create' %}">
                    <button>Create Passwords</button>
                </a>
            </nav>
        </div>
    </article>
{% endif %}
{% endblock content%}