{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="page top active">
    <h4 class="center-heading">Create New Password</h4>
    <form method="post" class="beer-form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <label for="app_name" style="font-size: medium;">App Name</label>
        <div class="field border round fill">
            {{ form.app_name }}
            {{ form.app_name.errors }}
        </div>
        <!--slider and inputs-->
        <label for="slider" style="font-size: medium;">Password Length (10-32 characters)</label>
        <div class="field middle-align prefix suffix">
            <i class="fa-solid fa-minus"></i>
            <label class="slider"> 
                <input type="range" value="12" min="10" max="32" step="1" name="password_length" id="slider">
                <span></span>
            </label>
            <i class="fa-solid fa-plus"></i>
        </div>
        <div class="field center-align middle-align round fill" style="width: 10%;">
            <span id="slider-helper" style="font-size: large;"> 12 </span>
        </div>
        <!--checks and input styling-->
        <div>
        <p style="font-size: medium;">Include:</p>
        <div>
        <label class="switch">
            <label style="font-size: medium;">Uppercase?</label>
            <input type="checkbox">
            <span></span>
        </label>
        <label class="switch">
            <label style="font-size: medium;">Numbers?</label>
            <input type="checkbox">
            <span></span>
        </label>
        </div>
        <div>
        <label class="switch">
            <label style="font-size: medium;">Special Characters?</label>
            <input type="checkbox">
            <span></span>
        </label>
        <label class="switch">
            <label style="font-size: medium;">Similar Characters?</label>
            <input type="checkbox">
            <span></span>
        </label>
        </div>
        <br />
        <button>
            <progress class="max" value="30" max="100"></progress>
            <span>Generate Password!</span>
        </button>
    </form>
</div>

<script>
const slider = document.getElementById('slider');
const helper = document.getElementById('slider-helper');

// Update helper text whenever slider value changes
slider.addEventListener('input', () => {
    helper.textContent = slider.value;
});
</script>
{% endblock %}