asgiref==3.8.1
black==25.1.0
cffi==1.17.1
click==8.1.8
crispy-bootstrap5==2025.4
cryptography==44.0.2
Django==5.2
django-crispy-forms==2.4
django-formtools==2.5.1
django-phonenumber-field==8.1.0
django-two-factor-auth==1.17.0
django-widget-tweaks==1.5.0
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
phonenumbers==9.0.4
platformdirs==4.3.7
pyasn1==0.6.1
pycparser==2.22
pycrypto==2.6.1
pyotp==2.9.0
pypng==0.20220715.0
python-keyczar==0.716
sqlparse==0.5.3
typing_extensions==4.13.2
