{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock title %}
{% block content %}
<h2 class="center-heading">Who... Are... You?</h2>
<form method="post">
    {% csrf_token %}
    <fieldset>
        {{ form.non_field_errors }}
        <legend> Username </legend>
        <div class="field round border fill">
            <input type="text" name="username" placeholder="Username" required id="id_username" aria-label="Username">
        </div>
        <legend> Password </legend>
            <div class="field round border fill">
                <input type="password" name="password" placeholder="Password" required id="id_password" aria-label="Password">
            </div>
            <span class="helptext">{{ form.password.errors }}</span>
        <!--Tried to be real cool and add a 2FA field, but it didn't work
            <legend>OTP Code (If Enabled): </legend>
        <div class="field round border fill">
            <input type="text" name="otp_code" placeholder="OTP Code" required id="id_otp_code">
        </div>-->
    </fieldset>
    <br />
    <button class="primary small-elevate " type="submit" aria-label="Submit">
        <i class="fa-solid fa-check"></i>
        Log In
    </button>
</form>
<div class="right-align">
    <a href="{% url 'password_reset' %}">
        <button class="error small-elevate" aria-label="Forgot Password">
            Forgot Password? 
        </button>
    </a>
</div>
{% endblock content %}
