{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock title %}
{% block content %}
<h2 class="center-heading">Who... Are... You?</h2>
<form method="post">
    {% csrf_token %}
    <fieldset>
        {{ form.non_field_errors }}
        <legend> Username </legend>
        <div class="field round border fill">
            {{ form.username.errors }}
            {{ form.username }}
        </div>
        <legend> Password </legend>
            <div class="field round border fill">
                {{ form.password.errors }}
                {{ form.password }}
            </div>
    </fieldset>
    <br />
    <button class="small primary small-elevate " type="submit">
        <i class="fa-solid fa-check"></i>
        Log In
    </button>
</form>
<div class="right-align">
    <a href="{% url 'password_reset' %}">
        <button class="small error small-elevate">
            Forgot Password? 
        </button>
    </a>
</div>
{% endblock content %}