{% extends 'base.html' %}

{% block title %}Change Account Password{% endblock %}
{% block content %}
<h2 class="center-heading">Change Account Password</h2>
<br />
<form method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Enter your old password:</legend>
        {{ form.non_field_errors }}
        <div class="field border round fill">
            {{ form.old_password }}
            {{ form.old_password.errors }}
        </div>
    </fieldset>
<br />
    <fieldset>
        <legend>Enter your new password:</legend>
        <div class="field border round fill">
            {{ form.password1 }}
            {{ form.password1.errors }}
        </div>
        <legend>Confirm your new password:</legend>
        <div class="field border round fill">
            {{ form.password2 }}
            {{ form.password2.errors }}
        </div>
    <button class="medium-elevate primary medium" type="submit">
        <i class="fa-solid fa-check"></i>
        <span>Change Password</span>
    </button>
</form>
{% endblock content %}