{% extends 'base.html' %}
{% block title %}Enter New Password{% endblock %}

{% block content %}
<h2 class="center-heading"> Set a New Password </h2>
<form method="POST">
    {% csrf_token %}
    <fieldset>
        {{ form.non_field_errors }}
        <legend>Enter New Password:</legend>
        <div class="field round border fill">
            {{ form.new_password1.errors }}
            {{ form.new_password1 }}
            <span class="helptext">Enter your new password.</span>
        </div>
        <div class="field round border fill">
            {{ form.new_password2.errors }}
            {{ form.new_password2 }}
            <span class="helptext">Please enter again for verification.</span>
        </div>
    </fieldset>
    <button class="button" type="submit">
        <i class="fa-solid fa-key"></i>
        Change Password
    </button>
</form>
{% endblock %}