{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<h2 class="center-heading"> Did you forget something? </h2>
<p class="center-text"> Enter your email address below, and 
    we'll email instructions for setting a new one. </p>

<form method="POST">
    {% csrf_token %}
    <span>Email Address</span>
    <div class="field round border fill">
        {{ form.email.errors }}
        {{ form.email }}
    </div>
    <button class="button" type="submit">
        <i class="fa-solid fa-paper-plane"></i>
        Send Reset Email 
    </button>
</form>
{% endblock %}