{% extends 'base.html' %}
{% block title %}Enter New Password{% endblock %}

{% block content %}
<h2 class="center-heading"> Set a New Password </h2>
<form method="POST">
    {% csrf_token %}
    <fieldset>
        {{ form.non_field_errors }}
        <legend>Enter New Password:</legend>
        <div class="field round border fill" aria-label="New Password">
            {{ form.new_password1 }}
        </div>
        <span class="helptext">Please enter again for verification.</span>
        <div class="field round border fill" aria-label="Repeat Password">
            {{ form.new_password2 }}
        </div>
        <span class="helptext"> {{ form.new_password2.errors }} </span>
    </fieldset>
    <button class="button" type="submit" aria-label="Submit">
        <i class="fa-solid fa-key"></i>
        Change Password
    </button>
</form>
{% endblock %}