{% extends 'base.html' %}
{% load static %}
{% block title %}Sign Up{% endblock title %}

{% block content %}
<h2 style="text-align: center;">You Look New</h2>
<form class="center-text" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Sign Up</legend>
        {{ form.non_field_errors }}
        <span>Username</span>
        <div class="field border round fill">
            {{ form.username }}
            {{ form.username.errors }}
        </div>
        <span>Email</span>
        <div class="field border round fill">
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <span>Create Password</span>
        <div class="field border round fill">
            {{ form.password1 }}
            {{ form.password1.errors }}
        </div>
        <span>Confirm Password</span>
        <div class="field border round fill">
            {{ form.password2 }}
            {{ form.password2.errors }}
        </div>
    </fieldset>
    <button class="small small-elevate fill" type="submit">
    <i class="fa-solid fa-user-plus"></i>
    Sign Up
</button>
</form>
{% endblock content %}