{% extends 'base.html' %}
{% load static %}
{% block title %}Alter Your Account{% endblock %}

{% block content %}
<div class="page top active center-text">
    <h4>Account Settings</h4>
    <p class="centered-text">Here you can change your password, delete your account, and other things.</p>

    <fieldset>
        <legend> Your Personals: </legend>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <label style="font-size: medium;">Email:</label>
            <div class="field border round fill">
                {{ form.email }}
            </div>
            <span class="helptext"> {{ form.email.errors }} </span>
            <label style="font-size: medium;"> Enter your password to save changes: </label>
            <div class="field border round fill">
                {{ form.current_password }}
            </div>
            <span class="helptext"> {{ form.current_password.errors }} </span>
            <button type="submit" class="primary small-elevate">
                <i class="fa-solid fa-check"></i>
                Save Changes</button>
        </form>
    </fieldset>

    <fieldset>
        <legend> Security: </legend>
        <a href="{% url 'reset_password' %}">
            <button type="submit" class="primary small-elevate">
                <i class="fa-solid fa-key"></i>
                Change Password</button>
        </a>
        <!-- Doesn't truly work, will add later for actual users when I make public -->
        <a href="#">
            <button type="submit" class="fill small-elevate" disabled>
                <i class="fa-solid fa-shield-cat"></i>
                Two-Factor Authentication</button>
        </a>
        
    </fieldset>

    <fieldset>
        <legend> Danger Zone: </legend>
        <a href="{% url 'account_confirm_delete' %}">
            <button type="submit" class="small-elevate error">
                <i class="fa-solid fa-user-slash"></i>
                Delete Account</button>
        </a>
    </fieldset>
</div>
{% endblock content %}
