{% extends 'base.html' %}
{% load static %}
{% block title %}Alter Your Account{% endblock %}

{% block content %}
<div class="page top active center-text">
    <h4>Account Settings</h4>
    <p class="centered-text">Here you can change your password, delete your account, and other things.</p>

    <fieldset>
        <legend>Update Your Email Address:</legend>
        <form method="POST" action="{% url 'update_email' %}">
            {% csrf_token %}
            {{ email_form.non_field_errors }}
            <label for="email">New Email Address:</label>
            <div class="field round border fill">
                {{ email_form.email }}
            </div>
            <span class="helptext">{{ email_form.email.errors }}</span>
            <button class="button primary small-elevate" type="submit">
                <i class="fa-solid fa-envelope"></i>
                Update Email
            </button>
        </form>
    </fieldset>

    <div class="small-space"></div>

    <fieldset>
        <legend> Security: </legend>
        <fieldset>
            <legend>Two-Factor Authentication</legend>
            {% if not request.user.mfa_enabled %}
            <p>Two-Factor Authentication is <strong>disabled</strong> for your account.</p>
            <p>Recommended to add 2FA for added security of your account.</p>
            <p>To do so, you'll need an authenticator app</p>
            <div class="small-space"></div>
            <div>
                <img {{ qr_code|safe }} alt="{{ qr_code.alt_text }}">
            </div>
            {% else %}
            <p>Two-Factor Authentication is <strong>enabled</strong> for your account.</p>
            <a href="{% url 'two_factor:profile' %}">
                <button class="error small-elevate">
                    <i class="fa-solid fa-gear"></i>
                    Manage Two-Factor Authentication
                </button>
            </a>
            <div class="small-space"></div>
            <a href="#" onclick="return confirm('Are you sure you want to disable Two-Factor Authentication?');">
                <button class="error small-elevate">
                    <i class="fa-solid fa-xmark"></i>
                    Disable Two-Factor Authentication
                </button>
            </a>
            {% endif %}
        </fieldset>
        <div class="small-space"></div>
        <fieldset>
            <legend>Reset Your Password:</legend>
            <form method="POST" action="{% url 'password_change' %}">
                {% csrf_token %}
                {{ password_form.non_field_errors }}
                <label style="font-size: medium;">Current Password:</label>
                <div class="field round border fill">
                    {{ password_form.old_password }}
                </div>
                <label style="font-size: medium;">New Password:</label>
                <div class="field round border fill">
                    {{ password_form.new_password1 }}
                </div>
                <label style="font-size: medium;"">Confirm New Password:</label>
                <div class="field round border fill">
                    {{ password_form.new_password2 }}
                </div>
                <span class="helptext">{{ password_form.new_password2.errors }}</span>
                <button class="button primary small-elevate" type="submit">
                    <i class="fa-solid fa-key"></i>
                    Change Password
                </button>
            </form>
        </fieldset>
        <div class="small-space"></div>
    </fieldset>

    <fieldset class="error-border">
        <legend style="color: crimson;"> Danger Zone: </legend>
        <div class="small-space"></div>
        <a href="{% url 'account_confirm_delete' %}">
            <button type="submit" class="small-elevate error">
                <i class="fa-solid fa-user-slash"></i>
                Delete Account</button>
        </a>
        <div class="small-space"></div>
    </fieldset>
</div>
{% endblock content %}
