{% extends 'base.html' %}
{% load static %}
{% block title %}Lemme Change This{% endblock title %}

{% block content %}
<div class="page top active center-text">
    <h4>Need to reset your password for here?</h4>
    <p class="centered-text">Don't worry, we won't tell 🤫</p>

    <form method="POST">
        {% csrf_token %}
        <fieldset>
            {{ form.non_field_errors }}
            <legend>Enter New Password:</legend>
            <div class="field round border fill">
                {{ form.new_password1 }}
            </div>
            <span class="helptext"> {{ form.new_password1.errors }} </span>
            <div class="small-space"></div>
            <span class="helptext"> Re-enter Password for verification: </span>
            <div class="field round border fill">
                {{ form.new_password2 }}
            </div>
            <span class="helptext"> {{ form.new_password2.errors }} </span>
        </fieldset>
        <div class="small-space"></div>
        <button class="button" type="submit">
            <i class="fa-solid fa-key"></i>
            Change Password
        </button>
    </form>
    <div class="small-space"></div>
    <a href="{% url 'account_settings' %}">
        <button class="button" type="submit">
            <i class="fa-solid fa-arrow-rotate-left"></i>
            Go Back
        </button>
</div>
{% endblock content %}