{% extends "base.html" %}

{% block content %}
<fieldset>
    <legend>Two-Factor Authentication</legend>

    <p>Please enter the verification code from your authenticator app.</p>

    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <p>Please enter the verification code from your authenticator app.</p>

    <form method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Verification Code</legend>
            <div class="field round border fill">
                <input type="text" name="token" id="id_token" placeholder="6-digit code" required autofocus>
            </div>
        </fieldset>
        <br />
        <button class="primary small-elevate" type="submit">
            <i class="fa-solid fa-check"></i>
            Verify
        </button>
    </form>
</fieldset>
{% endblock %}
